<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bep Form View</title>
</head>
<body>
    <h2>Break Event Point</h2>

    <form action="" method="post">
    Hari: <br>
        <input type="text" name="Bep">
        <select name="pilih" id="pilih">
            <option value="tfc">total biaya</option>
            <option value="p">harga jual</option>
            <option value="v">biaya produksi</option>
            <option value="x">penjualan rata-rata</option>
            <option value="semua">semua</option>
        </select>

        <input type="submit" name="btn_submit" value="Hitung">
    </form>
</body>
</html>